@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  color: #000;
  font-size: 16px;
  font-family: vdl-v7marugothic, "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", メイリオ, Meiryo, "ＭＳ Ｐゴシック", "Helvetica Neue", Helvetica, Arial, sans-serif, sans-serif;
  font-style: normal;
  font-weight: 700;
  overflow: scroll;
  overflow-x: hidden;
}

a {
  color: #000;
}

a:visited {
  color: #000;
}

a:hover {
  color: #000;
}

p {
  margin-top: 0;
  line-height: 1.6;
  font-family: vdl-v7marugothic, sans-serif;
  font-style: normal;
  font-weight: 500;
  color: #000;
}

img {
  vertical-align: bottom;
}

ul {
  list-style-type: none
}

header {
  height: 50px;
  width: 100%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.header_inner {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.header_gyozao_logo {
  position: fixed;
  top: 30px;
  width: 100%;
  text-align: center;
  z-index: 100;
}

.header_gyozao_icon {
  display: block;
  position: fixed;
  top: 30px;
  left: 40px;
  z-index: 100;
  transition: .7s ;
}

.header_gyozao_icon:hover {
	transform: rotateZ( 360deg ) ;
}

.gnavi__pc-style {
  position: fixed;
  display: block;
  top: 80px;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 40px;
  z-index: 100;
}

.gnavi__pc-style > ul > li {
  float: left;
  margin: 0 15px;
  line-height: 2;
}

.gnavi__pc-style a {
  color: #DC000C;
  display: inline-block;
  transition: 0.2s;
}

.gnavi__pc-style a:hover {
  transform: scale(1.3, 1.3);
}

/*ここから下がハンバーガーメニューのスタイル*/
.gnavi__sp-style {
  display: none;
}
@media screen and (max-width: 640px) {
  .gnavi__pc-style {
    display: none;    
  }
  .gnavi__sp-style {
    display: block;
  }

  /*メニューボタン　展開前*/
  .menu-btn {
    display : block;
    position: fixed;
    z-index : 1000;
    right : 30px;
    top   : 25px;
    width : 32px;
    height: 42px;
    cursor: pointer;
    text-align: center;
  }
  .menu-btn span {
    display : block;
    position: absolute;
    width   : 30px;
    height  : 3px ;
    left    : 6px;
    background : #000;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition   : 0.3s ease-in-out;
    transition        : 0.3s ease-in-out;
  }
  .menu-btn span:nth-of-type(1) {
    top: 10px;
  }
  .menu-btn span:nth-of-type(2) {
    top: 20px;
  }
  .menu-btn span:nth-of-type(3) {
    top: 30px;
  }
    
  /*メニューボタン　展開後*/
  .menu-btn.active span:nth-child(1) {
    top : 16px;
    left: 6px;
    background :#000;
    -webkit-transform: rotate(-45deg);
    -moz-transform   : rotate(-45deg);
    transform        : rotate(-45deg);
  }
  .menu-btn.active span:nth-child(2),
  .menu-btn.active span:nth-child(3) {
    top: 16px;
    background :#000;
    -webkit-transform: rotate(45deg);
    -moz-transform   : rotate(45deg);
    transform        : rotate(45deg);
  }

  /*スマホ用のメニュー*/
  .gnavi__sp-style {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    color: #000;
    background-color: #FFD928;
    text-align: center;
    width: 100%;
    height: 100vh;
    opacity: 0;
    transition: opacity .6s ease, visibility .6s ease;
    display: flex;
    align-items: center;
    visibility: hidden;
  }
  .gnavi__sp-style ul {
    margin: 0 auto;
    padding: 0;
    width: 100%;
  }
  .gnavi__sp-style ul li {
    list-style-type: none;
    padding: 0;
    width: 100%;
    transition: .4s all;
  }
  .gnavi__sp-style ul li:last-of-type {
    padding-bottom: 0;
  }
  .gnavi__sp-style ul li:hover{
    background :#fff;
  }
  .gnavi__sp-style ul li a {
    display: block;
    color: #000;
    padding: 1em 0;
    text-decoration :none;
  }
  .gnavi__sp-style.active {
    opacity: 1;
  }
}

.top_main_visual {
  width: 80%;
  margin: 0 auto;
}

.swiper {
  width: 85%;
  margin-top: 100px;
  height: 563px;
  border-radius: 30px;
}

.swiper-pagination-bullet-active {
  background: #FFD928;
  opacity: 1;
}

.swiper-pagination-bullet {
  background: #CBCBCB;
  opacity: 1;
}

.swiper-slide.slide1 {
  background-image: url(img/slider01.jpg);
  /* 画像を常に天地左右の中央に配置 */
  background-position: center center;
  /* 画像をタイル状に繰り返し表示しない */
  background-repeat: no-repeat;
  /* 表示するコンテナの大きさに基づいて、背景画像を調整 */
  background-size: cover;
  /* 背景画像が読み込まれる前に表示される背景のカラー */
}
.swiper-slide.slide2 {
  background-image: url(img/slider02.jpg);
  /* 画像を常に天地左右の中央に配置 */
  background-position: center center;
  /* 画像をタイル状に繰り返し表示しない */
  background-repeat: no-repeat;
  /* 表示するコンテナの大きさに基づいて、背景画像を調整 */
  background-size: cover;
  /* 背景画像が読み込まれる前に表示される背景のカラー */
}
.swiper-slide.slide3 {
  background-image: url(img/slider03.jpg);
  /* 画像を常に天地左右の中央に配置 */
  background-position: center center;
  /* 画像をタイル状に繰り返し表示しない */
  background-repeat: no-repeat;
  /* 表示するコンテナの大きさに基づいて、背景画像を調整 */
  background-size: cover;
  /* 背景画像が読み込まれる前に表示される背景のカラー */
}
.swiper-slide.slide4 {
  background-image: url(img/slider04.jpg);
  /* 画像を常に天地左右の中央に配置 */
  background-position: center center;
  /* 画像をタイル状に繰り返し表示しない */
  background-repeat: no-repeat;
  /* 表示するコンテナの大きさに基づいて、背景画像を調整 */
  background-size: cover;
  /* 背景画像が読み込まれる前に表示される背景のカラー */
}
.swiper-slide.slide5 {
  background-image: url(img/slider05.jpg);
  /* 画像を常に天地左右の中央に配置 */
  background-position: center center;
  /* 画像をタイル状に繰り返し表示しない */
  background-repeat: no-repeat;
  /* 表示するコンテナの大きさに基づいて、背景画像を調整 */
  background-size: cover;
  /* 背景画像が読み込まれる前に表示される背景のカラー */
}
.swiper-slide.slide6 {
  background-image: url(img/slider06.jpg);
  /* 画像を常に天地左右の中央に配置 */
  background-position: center center;
  /* 画像をタイル状に繰り返し表示しない */
  background-repeat: no-repeat;
  /* 表示するコンテナの大きさに基づいて、背景画像を調整 */
  background-size: cover;
  /* 背景画像が読み込まれる前に表示される背景のカラー */
}

.top_main_visual_gyozao_body {
  position: relative;
  bottom: 180px;
  margin-left: 10px;
  margin-bottom: -280px;
  z-index: 2;
}

.top_main_visual_gyozao_body > img {
  width: 236px;
  height: auto;
}

.top_main_visual_scroll {
  text-align: center;
  position: relative;
  bottom: -50px;
}

.dotted_line {
  margin-left: 100px;
  width: 5px;
  height: 25px;
  margin: 0 auto;
  border-right: 2px dotted #DC000C;
}

.animated {
  animation: move-y 0.5s infinite alternate ease-in-out;
  margin: 0 auto;
}

@keyframes move-y {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(10px);
  }
}

.contact_btn {
  width: 15%;
  bottom: 10px;
  right: 50px;
  position: fixed;
  cursor: pointer;
  transition: .3s;
  z-index: 3;
  /*デフォルトで非表示にする*/
  opacity: 0;
  visibility: hidden;
}

/*このクラスが付与されると表示する*/
.active_btn{
  opacity: 1;
  visibility: visible;
}

.contact-btn a {
  display: inline-block;
}

.sns_side {
  position: absolute;
  top: 40%;
  right: -10px;
  z-index: 5;
  position: fixed;
}

.sns_side > p {
  color: #DC000C;
  font-weight: 700;
  transform: rotate(90deg);
  margin-bottom: 50px;
}

.sns_side > a {
  display: block;
  margin: 35px 0;
  margin-left: 18px;
  transition: 0.2s;
}

.sns_side > a:hover {
  transform: scale(1.3, 1.3);
}


.top_section_line_yellow {
  background-image: url(img/section_line_yellow.svg);
  text-indent:100%;
  white-space:nowrap;
  overflow:hidden;
}

.top_section_line_white {
  background-image: url(img/section_line_white.svg);
  position: relative;
  bottom: 17px;
  z-index: 2;
  text-indent:100%;
  white-space:nowrap;
  overflow:hidden;
}

.footer_section_line_red {
  background-image: url(img/section_line_red.svg);
  text-indent:100%;
  white-space:nowrap;
  overflow:hidden;
}

.top_concept {
  background-color: #FFD928;
  padding-bottom: 100px;
  text-align: center;
}



.top_concept > .section_title {
  margin-bottom: -200px;
}

.top_concept_title {
  margin-top: 200px;
}

.top_concept_content {
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: center;
}

.top_concept_content_reverse {
  text-align: left;
  display: flex;
  flex-flow: row-reverse;
  align-items: center;
  justify-content: center;
}

.top_concept_content > img {
  margin-top: 130px;
}

.top_concept_content_reverse > img {
  margin-top: 130px;
}

.top_concept_content > p {
  padding: 30px;
  font-size: 19px;
  line-height: 2;
}

.top_concept_content_reverse > p {
  padding: 30px;
  font-size: 19px;
  line-height: 2;
}

.top_news_item > img {
  position: relative;
  bottom: -20px;
  z-index: 2;
}

.top_concept_content:first-child {
  margin-top: 200px;
}

.top_concept_content > p {
  font-weight: 700;
  font-size: 30px;
  margin-left: 40px;
  margin-bottom: -100px;
  padding: 40px;
}

.top_concept_content_reverse > p {
  font-weight: 700;
  font-size: 30px;
  margin-left: 40px;
  margin-bottom: -100px;
  padding: 40px;
}

.top_sns {
  background-color: #fff;
  text-align: center;
}

.top_sns > p {
  color: #DC000C;
  font-weight: 700;
  margin: 30px 0;
}

.top_sns_arrow {
  display: block;
  margin: 0 auto;
  margin-top: 77px;
  margin-bottom: 77px;
}

.top_sns_icon {
  width: 65px;
  height: auto;
}

.instagram_feed {
  background-color: #CBCBCB;
  width: 100%;
  height: 552px;
}

.top_news {
  background-color: #fff;
  text-align: center;
  padding: 154px 0;
  margin: 0 auto;
  width: 70%;
}

.section_title {
  font-weight: 700;
  font-size: 30px;
  padding-top: 20px;
  padding-bottom: 80px;
}

.top_news_feed {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.top_news_item {
  width: 850px;
  display: flex;
}

.top_news_item > img {
  margin: 30px 10px auto 0px;
}

.news_feed_content {
  background-color: #FFD928;
  border-radius: 30px;
  padding: 30px;
  width: 780px;
  margin-bottom: 28px;
  text-align: left;
}

.news_date {
  display: inline-block;
  font-size: 12px;
  font-weight: 700;
}

.news_date {
  font-size: 12px;
  font-weight: 700;
}

.news_category {
  display: inline-block;
  background-color: #DC000C;
  color: #fff;
  font-size: 12px;
  font-weight: 700;
  padding: 4px;
}

.news_title {
  margin-top: 10px;
  font-size: 16px;
  font-weight: 700;
}

.top_news_more {
  margin-top: 40px;
  display: inline-block;
  font-size: 20px;
  font-weight: 700;
  border-bottom: solid 4px #DC000C;
  padding: 6px;
}

a.top_news_more {
  color: #DC000C;
}

.footer_gyozao {
  text-align: right;
  position: relative;
  bottom: -20px;
  margin-right: 10px;
}

.footer_cta > a > img {
  width: 420px;
  height: auto;
  margin: 20px 20px;
}

.footer_inner {
  background-color: #DC000C;
}
.footer_inner > p {
  color: #fff;
}

.footer_nav {
  text-align: center;
}

.footer_inner {
  text-align: center;
  padding-top: 47px;
  padding-bottom: 47px;

}

.footer_inner li {
  color: #fff;
  display: inline-block;
  margin: 60px 15px 40px 15px;
}

.footer_inner li a {
  color: #fff;
  display: inline-block;
  transition: 0.2s;
}

.footer_inner li a:hover {
  transform: scale(1.3, 1.3);
}

.footer_sns {
  margin: 20px 0;
  text-align: center;
}

.footer_sns > a {
  display: inline-block;
  margin: 0px 18px;
  transition: 0.2s;
}

.footer_sns > a:hover {
  transform: scale(1.3, 1.3);
}

.footer_logo {
  margin: 40px 0;
}

.copyright {
  color: #fff;
  text-align: center;
  font-size: 10px;
}

/* 横幅が狭いとき */
@media (max-width: 640px) {

  .header_gyozao_logo {
    position: fixed;
    width: 90%;
    text-align: center;
    z-index: 100;
  }

  .header_gyozao_logo > img {
    width: 60%;
    height: auto;
  }

  .header_gyozao_icon {
    display: none;
  }

  .top_main_visual {
    height: 79vh;
    width: 90%;
    text-align: left;
    margin: 0 auto;
  }

  .swiper {
    width: 100%;
    height: 60vh;
    margin-top: 60px;
    z-index: 1;
  }

  .top_main_visual_gyozao_body {
    position: relative;
    bottom: 130px;
    margin-left: 10px;
    margin-bottom: -130px;
    z-index: 2;
  }

  .top_main_visual_gyozao_body > img {
    width: 160px;
    height: auto;
  }

  .top_main_visual_scroll {
    text-align: center;
    position: relative;
    bottom: 30px;
  }

  .dotted_line {
    margin-left: 100px;
    width: 5px;
    height: 60px;
    margin: 0 auto;
    border-right: 2px dotted #DC000C;
  }

  .contact_btn {
    width: 15%;
    bottom: 10px;
    right: 60px;
    position: fixed;
    cursor: pointer;
    transition: .3s;
    z-index: 3;
    /*デフォルトで非表示にする*/
    opacity: 0;
    visibility: hidden;
  }
  
  /*このクラスが付与されると表示する*/
  .active{
    opacity: 1;
    visibility: visible;
  }
  
  .contact-btn a {
    display: inline-block;
  }

  .contact_btn_img {
    width: 120px;
    height: auto;
  }

  .top_section_line_yellow {
    margin-top: -90px;
    background-image: url(img/section_line_yellow.svg);
    text-indent:100%;
    white-space:nowrap;
    overflow:hidden;
  }

  .top_concept_content {
    display: block;
    text-align: center;
  }

  .top_concept_content_reverse {
    display: block;
    text-align: center;
  }

  .top_concept_content > img {
    width: 65%;
    height: auto;
    margin-top: 300px;
  }

  .top_concept_content_reverse > img {
    width: 65%;
    height: auto;
    margin-top: 300px;
  }

  .top_concept_content > img:first-child {
    margin-top: 300px;
  }

  .top_concept_content > p {
    padding: 30px;
    font-size: 19px;
    line-height: 2;
    margin-left: 0px;
    margin-bottom: 0px;
  }

  .top_concept_content_reverse > p {
    padding: 30px;
    font-size: 19px;
    line-height: 2;
    margin-left: 0px;
    margin-bottom: 0px;
  }

  .top_news_item > img {
    position: relative;
    bottom: -20px;
    z-index: 2;
  }

  .top_news {
    background-color: #fff;
    text-align: center;
    padding: 154px 0;
    margin: 0 auto;
    width: 90%;
  }

  .top_news_feed {
    display: block;
  }

  .top_news_item {
    display: block;
    width: 100%;
  }

  .news_feed_content {
    background-color: #FFD928;
    border-radius: 30px;
    padding: 30px;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 28px;
    text-align: center;
  }

  .footer_cta > a > img {
    width: 80%;
    height: auto;
    margin: 20px 0;
  }

  .footer_nav {
    margin: 10px auto;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 22px;
  }

  .footer_nav li {
    display: list-item;  /* 縦に並べる */
    list-style-type: none;
    padding: 22px 0;
    border-top: solid 1px #fff;
    margin: 0;
  }

  .footer_nav li:last-child {
    border-bottom: solid 1px #fff;
  }

  .footer_nav li a {
    color: #fff;
    font-family: 'Roboto', sans-serif;
    transition: .3s;
  }

  .footer_nav li a:hover {
    opacity: 0.5;
  }

}